{% load crispy_forms_tags %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class = "container">
    <h2> {{title}} </h2>
<form class = "form" action = "" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <div class = "col-md-2">
            <input type = "submit" class = "btn btn-default btn-block" value="{{title}}"></input>
        </div>
</form>
</div>